@media (prefers-color-scheme: dark) {
    footer {
      background-color: #333;
      color: #fff;
    }
    
    footer img {
      filter: invert(1);
    }
  }
  
  @media (prefers-color-scheme: light) {
    footer {
      background-color: #f8f9fa;
      color: #212529;
    }
  }
  